<div id="list-search-results">
  <% @lists.each do |list| %>
    <div class="card border-primary mb-3">
      <div class="card-body">
        <h4 class="card-title"><%= list.title %></h4>
        <p class="card-text"><% list.categories.each do |c| %>
            <%= c.title %>
          <% end %></p>
        <p class="card-text"><%= list.text_messages.length %> words</p>
        <p class="card-text"><%= list.num_copies %> copies</p>
        <p class="card-text"><%= link_to 'Show', list %></p>
      </div>
    </div>
  <% end %>
</div>
